body {
    background-image: url('https://cdn.discordapp.com/attachments/1082639331442831391/1316498607376961696/image.png?ex=675b445f&is=6759f2df&hm=282362bb9a99aed90e0035aac4872f7190c7a7ec65da202e538520b709b6a06a&');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

